* {
  box-sizing: border-box;
}

html {
  font-family: @main-font;
  font-size: 62.5%;
}

html, body, #root {
  height: 100%;
}

#root {
  width: 100%;
  max-width: @main-width;
  padding-top: 50px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}