/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%;
}
html,
body,
#root {
  height: 100%;
}
#root {
  width: 100%;
  max-width: 880px;
  padding-top: 50px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 13rem;
  text-align: center;
}
p {
  font-size: 2rem;
  text-align: center;
}
input,
textarea {
  padding: 5px;
}
.login-box {
  width: 100%;
  max-width: 500px;
  padding: 80px 0 40px;
  margin: 130px auto;
  border: 5px solid #3f3f3f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box i {
  font-size: 18rem;
  color: #3f3f3f;
  margin-bottom: 35px;
}
.login-box input {
  font-size: 2rem;
  font-weight: 700;
  width: 95%;
  max-width: 325px;
  padding: 7px;
  margin-bottom: 20px;
}
.login-box button {
  width: 200px;
  height: 50px;
  color: #3f3f3f;
  background-color: #ffffff;
  padding: 5px;
  border: 4px solid #3f3f3f;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}
.login-box button:hover {
  background-color: #7f7f7f;
  color: #ffffff;
  border: 3px solid #ffffff;
}
.login-box a {
  font-size: 1.4rem;
  margin-top: 10px;
  cursor: pointer;
}
.container {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #6d6d6d;
  border-top-left-radius: 10px;
}
.main h3 {
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
}
.main textarea {
  height: 250px;
}
.main .details-box {
  display: flex;
  justify-content: space-between;
}
.side-bar {
  border: 1px solid #6d6d6d;
}
